button {
    height: 1.5em;
    width: 1.5em;
    margin: .1rem;
    font-size: 3em;
    font-weight: bolder;
    background-color: white;
    color: black;
    border-radius: 5px;
}

button:focus {
    outline: none !important;
    border: 3px solid black;
}

button:hover {
    border: 3px solid black;
}

li {
    list-style: none;
}
